.icon-img-home{
    border-radius: 5px;
    height: 30px;
    border: 2px solid white;
    margin: 0 5px;
}
.icon2-img-home{
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: 2px solid white;
    margin: 0 5px;
}
.div-Home-contenido::-webkit-scrollbar {
    width: 1px;               
}
  